.photocard {
    position: relative;
    margin: 20px;
}

.photoicon {
    top: 0;
    position: absolute;
    background-color: aliceblue;
    color: black;
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.photocard .photoicon {
    visibility: hidden;
}

.photocard:hover .photoicon{
    visibility: visible;
}

.delete:hover {
    color: #9e1f1f;
}

.checked {
    visibility: visible;
}